div, img {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

span {
  color: red;
}

#header, #smiley, #userInputs, #madLibResults {
  border: 1px solid black;
}

#container {
  width: 680px;
}

#header {
  height: 200px;
}

#smiley {
  float: left;
}