<html>
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body ng-app="madLibsApp" ng-controller="userInputController">
  <div id="container">
    <div id="header">
      <div id="logo">
        <img id="smiley" src="assets/mad-lib-happy-face.png"/>
        <img src="assets/ng-mad-libs-logo.png"/>
        <h1>Automate This!</h1>
      </div>
    </div>
      <div id="userInputs">
        <h1>Provide the following words:</h1>
        <div class="selection">
          <input placeholder={{placeholder.femaleName}} ng-model="data.femaleName"/>
          <input placeholder={{placeholder.jobTitle}} ng-model="data.jobTitle"/>
          <input placeholder={{placeholder.tediousTask}} ng-model="data.tediousTask"/>
        </div>
        <div class="selection">
          <input placeholder={{placeholder.dirtyTask}} ng-model="data.dirtyTask"/>
          <input placeholder={{placeholder.celebrity}} ng-model="data.celebrity"/>
          <input placeholder={{placeholder.uselessSkill}} ng-model="data.uselessSkill"/>
        </div>
        <div class="selection">
        <input placeholder={{placeholder.adjective}} ng-model="data.adjective"/>
        <input placeholder={{placeholder.obnoxiousCelebrity}} ng-model="data.obnoxiousCelebrity"/>
        <input placeholder={{placeholder.hugeNumber}} ng-model="data.hugeNumber"/>
        </div>
      </div>
      <div id="madLibResults">
        <p>
          <span ng-bind="data.femaleName || placeholder.femaleName"></span> was a <span ng-bind="data.jobTitle || placeholder.jobTitle"></span> who loved technology. Although she loved parts of her job, she absolutely hated  <span ng-bind="data.tediousTask || placeholder.tediousTask"></span> and <span ng-bind="data.dirtyTask || placeholder.dirtyTask"></span>. So, <span ng-bind="data.femaleName || placeholder.femaleName"></span> met with her life mentor <span ng-bind="data.celebrity || placeholder.celebrity"></span> who told her to learn how to <span ng-bind="data.uselessSkill || placeholder.uselessSkill"></span> with Thinkful. Thinkful didn't offer a course on <span ng-bind="data.uselessSkill || placeholder.uselessSkill"></span> so she studied programming instead.
        </p>
        <p>
          What a great decision! With her new skills, <span ng-bind="data.femaleName || placeholder.femaleName"></span> built a(n) <span ng-bind="data.adjective || placeholder.adjective"></span> robot named <span ng-bind="data.obnoxiousCelebrity || placeholder.obnoxiousCelebrity"></span> that not only loved <span ng-bind="data.dirtyTask || placeholder.dirtyTask"></span> but did it <span ng-bind="data.hugeNumber || placeholder.hugeNumber"></span> faster. 
        </p>
      </div>
    </div>
  </body>
</html>